In [58]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [5]:
df = pd.read_csv('homework.csv')
df.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

In [6]:
df.isna().sum()

ID         0
crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
black      0
lstat      0
medv       0
dtype: int64

In [42]:
df.columns

Index(['ID', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad',
       'tax', 'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [43]:
# Формируем признаки и целевую переменную
X, y = df[['ID', 'crim', 'zn', 'indus', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'black', 'lstat', 'chas']], df['medv']

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [45]:
X_train.head()

,ID,crim,zn,indus,nox,rm,age,dis,rad,tax,ptratio,black,lstat,chas
253,385,20.08490,0.0,18.10,0.700,4.368,91.2,1.4395,24,666,20.2,285.83,30.63,0
196,294,0.08265,0.0,13.92,0.437,6.127,18.4,5.5027,4,289,16.0,396.90,8.58,0
274,426,15.86030,0.0,18.10,0.679,5.896,95.4,1.9096,24,666,20.2,7.68,24.39,0
296,458,8.20058,0.0,18.10,0.713,5.936,80.3,2.7792,24,666,20.2,3.50,16.94,0
239,363,3.67822,0.0,18.10,0.770,5.362,96.2,2.1036,24,666,20.2,380.79,10.19,0

In [46]:
y_train.head()

253     8.8
196    23.9
274     8.3
296    13.5
239    20.8
Name: medv, dtype: float64

In [47]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [48]:
X_train = pd.DataFrame(X_train, columns=X.columns)
X_test = pd.DataFrame(X_test, columns=X.columns)

In [49]:
X_train.head()

,ID,crim,zn,indus,nox,rm,age,dis,rad,tax,ptratio,black,lstat,chas
0,0.926087,2.138651,-0.453669,0.960727,1.184109,-2.657905,0.784181,-1.119666,1.634393,1.507551,0.815549,-0.853687,2.560859,-0.261291
1,0.311337,-0.443753,-0.453669,0.358917,-1.092408,-0.160054,-1.893424,0.956431,-0.653757,-0.706506,-1.078695,0.436461,-0.579617,-0.261291
2,1.203062,1.593231,-0.453669,0.960727,1.002334,-0.488083,0.938658,-0.879468,1.634393,1.507551,0.815549,-4.084574,1.672125,-0.261291
3,1.419238,0.604318,-0.453669,0.960727,1.296636,-0.431281,0.383275,-0.435144,1.634393,1.507551,0.815549,-4.133127,0.611058,-0.261291
4,0.777466,0.020455,-0.453669,0.960727,1.790026,-1.246385,0.968082,-0.780343,1.634393,1.507551,0.815549,0.249333,-0.350312,-0.261291

Решить задачу регрессии (как минимум один из):
[https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html]
[https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVR.html]
[https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html]

# Linear Regression

In [50]:
reg = LinearRegression().fit(X, y)
reg.score(X, y)

0.7355786478533118

# SVR

In [51]:
clf = SVR(C=1.0, epsilon=0.2)
clf.fit(X, y)

/Users/FOX/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.2,
    gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)


Оценить качество регрессии при помощи метрик:
[https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html]
[https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html]
[https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_absolute_error.html]

# Mean Squared Error

In [67]:
mean_squared_error(y_test, reg.predict(X_test))
# что-то тут явно не так...

346.6378301453321

In [62]:
mean_squared_error(y_test, clf.predict(X_test))

89.91006019781382

# R2 score

In [63]:
r2_score(y_test, reg.predict(X_test))

-3.0070068011093216

In [64]:
r2_score(y_test, clf.predict(X_test))

-0.03932748064382019

# Mean Absolute Error

In [65]:
mean_absolute_error(y_test, reg.predict(X_test))

16.11196948499505

In [66]:
mean_absolute_error(y_test, clf.predict(X_test))

6.84081516066856